@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Nunito";
        font-optical-sizing: auto;
        font-style: normal;
        font-display: swap;
        src: url(../../assets/Nunito-VariableFont_wght.ttf);
    }

    .totally-visible {
        visibility: hidden !important;
        display: none !important;
    }
}
